################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CodeAnalyzeWPF/v15/Server/sqlite3
/CodeAnalyzeWPF/bin/Debug
/CodeAnalyzeWPF/obj
/.vs/CodeAnalyzeWPF/v15
/CodeAnalyzerWPF/obj/Debug
/.vs/CodeAnalyzeWPF/v16/Server/sqlite3
/.vs/CodeAnalyzeWPF/v16
/CodeAnalyzerWPF/bin/Debug
/CodeAnalyzerWPF.wim
/CodeAnalyzerWPF/MainWindowPrpoj.xaml
/CodeAnalyzerWPF/obj/Release/TempPE
/CodeAnalyzerWPF/obj/Release
/ServiceBackground
